*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
}
img{
    text-align: center;
    margin: 25px auto;
    width: 150px;
}

.container{
    width: 100%;
    height: 100vh;
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #373a40;
    font-weight: 700;
    padding-bottom: 25px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #fff;
    font-style: 16px;
}
form p{
    text-align: center;
    line-height: 1.5;
}

form button{
    padding: 15px;
    background: #1ad2d8;
    color: #373a40;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 120px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.return-home-btn{
    background-color: #1ad2d8;
    color: #373a40;
    border-radius: 10px;
    border: #373a40 solid 2px;
    margin: 15px auto;
    padding: 6px 30px;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.return-home-btn:hover{
    background-color:#373a40;
    color: #1ad2d8;
}


