h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Ubuntu', sans-serif;
}


/* Navbar Section */
.navbar-brand span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* About Me Section */
#about-me{
    background-color:#eeeeee;
    padding: 7% 15%;
    position: relative;
    text-align: center;
    z-index: 1;
}

#headshot{
    border-color: #373a40;
    border-style: solid;
    border-radius: 100px;
    position: relative;
    z-index: 1;
}

#about-me h1 {
    color: #373a40;
    padding-bottom: 3%;
    position: relative;
    z-index: 1;
}

#about-me p {
    font-size: 1.4rem;
    text-align: left;
    z-index: 1;
    position: relative;
}

#about-logo{
    width: 20%;
    position: relative;
    z-index: 1;
}

#background-img{
    position: absolute;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 100px;
    z-index: 0;
    opacity: 0.15;
}

/* Skills Section */

#skills{
    padding: 7% 15%;
    background-color: #373a40;
    color: #eeeeee;
    text-align: center;
}

.skill-title{
    color:#eeeeee;
    line-height: 1.5;
}

.icon{
    color: #1ad2d8;
    padding-bottom: 50px;
}

#skills h3{
    text-align: left;
    padding-bottom: 25px;
}

#skills p{
    text-align: left;
}

.skill-box{
    padding-left: 15px;
    padding-right: 15px;
}

.icon:hover{
    color: #eeeeee
}

/* Projects Section */
#projects{
    padding: 7% 15%;
    background-color: #fff;
    color: #373a40;
    text-align: right;
    position: relative;
}

#projects h1{
    color: #373a40;
    padding-bottom: 25px;
    position: relative;
    z-index: 1;
}

#projects p{
    padding-bottom: 25px;
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

#projects img{
    position: absolute;
    left: 20px;
    top: 50px;
    height: 85%;
}

/* Tech-certs */
#tech-certs h1{
    color: #373a40;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.tech-logo{
    width: 175px;
    padding-bottom: 50px;
}

#tech-certs{
    background-color: #373a404c;
}

.container-fluid {
    padding: 7% 15%;
}

/* Contact Section */
#contact{
    color: #373a40;
    padding: 7% 15%;
    text-align: center;
}

#contact h1,h3{
    color: #373a40;
}

#contact h1, h3, p{
    line-height: 2;
}

#contact-me-btn{
    background-color: #1ad2d8;
    border-radius: 10px;
    padding: 6px 30px;
    font-size: 1.5rem;
}

#contact-me-btn:hover{
    background-color:#373a40;
    color: #1ad2d8;
}

/* Footer Section */
footer{
    background-color: #373a40;
    text-align: center;
}

footer img{
    height: 120px;
    padding: 20px 0;
}

footer p {
    color: #1ad2d8;
    padding-bottom: 15px;
}


.menu{
    background-color: #373a4098;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 20%;
}

.carousel-caption h5 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1.9;
}

.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: #1ad2d8;
    border-radius: 10px;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
    font-size: 1rem;
}

.navbar-nav a{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ad2d8
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 1rem;
    line-height: 0.3;
    background: #fff;
}

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
        background: #373a40bd;
    }
    .carousel-caption{
        bottom: 165px;
    }
    .carousel-caption h5{
        font-size: 2rem;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    #background-img{
        visibility: hidden;
    }
}



